@import '../../style/tools.scss';

.title-page {
    background: linear-gradient($colorContrast, #eee);
    min-height: 100vh; 
    width: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center;

    .title-page__heading {
        color: #fff;
        font-size: 1.6rem;
        font-weight: bold;
    }
    .title-page__logo-wrap {
        width: 1.7rem;
        display: flex;
        align-items: center;
        margin: 0 10px;

        .title-page__logo {
            width: 100%;
        } 
    }
}