@import '../../tools.scss';

.sidebar {
    background-color: #fff;
    width: 400px;
    overflow: hidden;
    @include border(border-right);
    min-height: 100vh;
    flex-shrink: 0;

    .sidebar__title {
        text-decoration: none;
        color:  $colorContrast;
        margin: 40px 10px;
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
    }
    .sidebar__logo-wrap {
        width: 30px;
        margin: 30px auto;
        display: none;

        .sidebar__logo {
            width: 100%;
        }
    }
    .sidebar__navigation_list {
        padding: 0;
        margin: 0;

        .sidebar__navigation_item {
            list-style: none;
            padding: 10px;
            @include border(border-bottom);

            .sidebar__navigation_link {
                text-decoration: none;
                display: flex;

                .navigation_link-dialog-wrap {
                    padding: 10px;
                    overflow: hidden;
                    width: 100%;

                    .navigation_link-dialog-title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-bottom: 5px;
                        
                        .link-dialog-title_name {
                            color: $colorTitle;
                            font-weight: 600;
                            font-size: 1.2rem;
                        }
                        .link-dialog-title_time {
                            color: $colorLighter;
                        }
                    }
                    .navigation_link-dialog-subtitle {
                        color: $colorLighter;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 300px;
    }
}
@media screen and (max-width: 768px) {
    .sidebar {
        width: auto;
        .sidebar__title, .navigation_link-dialog-wrap {
            display: none;
        }
        .sidebar__logo-wrap {
            display: block;
        }
    }
}