.avatar-wrap {
    width: 70px;
    flex-shrink: 0;
    display: flex;
    align-items: center;

    .avatar {
        width: 100%;
        border-radius: 50%;
    }
}

@media screen and (max-width: 992px) {
    .avatar-wrap {
        width: 60px;
    }
}
@media screen and (max-width: 768px) {
    .avatar-wrap {
        width: 50px;
    }
}