* {
    box-sizing: border-box;
}
html {
    font-size: 14px;

    body {
        font-size: 1rem;
        margin: 0;
        font-family: 'Manrope', sans-serif;
        scrollbar-width: thin;  

        ::-webkit-scrollbar {
            width: 6px; 
        }  
        ::-webkit-scrollbar-thumb {
            background: rgba(#000, .1);
            border-radius: 5px;
        }
    }
}
.app {
    display: flex;
}