@import '../../tools';

.message__wrap {
    max-width: 80%;
    display: flex;
    
    .message {
        background-color: #eee;
        color: $colorTitle;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
    }
    .message-send {
        background-color: $colorContrast;
        color: #fff;
    }
    .message__btn {
        color: #d14141;
        cursor: pointer;
    }
}